In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import random

restaurants = pd.read_csv(r'C:\Users\niels\restaurant_info(1).csv')
food_quality = ['bad food','okay food','good food']
crowdedness = ['not busy','busy']
length_of_stay = ['short','normal','long']

random_food_quality = []
random_crowdedness = []
random_length_of_stay = []
for i in range(0,len(restaurants)):
    random_food_quality.append(random.choice(food_quality))
for i in range(0,len(restaurants)):
    random_crowdedness.append(random.choice(crowdedness))
for i in range(0,len(restaurants)):
    random_length_of_stay.append(random.choice(length_of_stay))

restaurants.insert(1,"food_quality", random_food_quality, True)
restaurants.insert(1,"crowdedness", random_crowdedness, True)
restaurants.insert(1,"length_of_stay", random_length_of_stay, True)
restaurants.head()

,restaurantname,length_of_stay,crowdedness,food_quality,pricerange,area,food,phone,addr,postcode
0,saint johns chop house,normal,busy,okay food,moderate,west,british,01223 353110,21 - 24 northampton street,c.b 3
1,restaurant alimentum,long,not busy,bad food,moderate,north,modern european,01223 413000,152 - 154 hills road,c.b 2
2,pizza hut cherry hinton,normal,not busy,bad food,moderate,south,italian,01223 323737,g4 cambridge leisure park clifton way cherry h...,c.b 1
3,the gardenia,short,busy,okay food,moderate,west,romanian,01223 356354,2 rose crescent city centre,c.b 2
4,loch fyne,normal,not busy,bad food,moderate,centre,seafood,01223 362433,the little rose 37 trumpington street,c.b 2

In [21]:
def find_all_restaurants(df, preferences):
    if(len(preferences) == 3):
        result = df.loc[(df["pricerange"] == preferences[0]) & (df["area"] == preferences[1]) & (df["food"] == preferences[2])]
        result.reset_index(drop=True,inplace=True)
        globals()['remaining_restaurants'] = result
        return result
    elif(len(preferences) == 6):
        result = df.loc[(df["pricerange"] == preferences[0]) & (df["area"] == preferences[1]) & (df["food"] == preferences[2]) & (df["length_of_stay"] == preferences[3]) & (df["crowdedness"] == preferences[4]) & (df["food_quality"] == preferences[5]) ]
        result.reset_index(drop=True,inplace=True)
        globals()['remaining_restaurants'] = result
        return result
    else:
        return 'Sorry, there is no restaurant that conforms to you requirements.'

In [9]:
find_all_restaurants(pd.read_csv(r'C:\Users\niels\restaurant_info(1).csv'),['moderate', 'centre', 'british'])

,restaurantname,pricerange,area,food,phone,addr,postcode
0,cotto,moderate,centre,british,01223 302010,183 east road city centre,c.b 1
1,the oak bistro,moderate,centre,british,01223 323361,6 lensfield road,NaN

In [10]:
index = np.random.choice(len(globals()['remaining_restaurants'].index))

def toString_recommended_restaurant(index):
    
    if(len(globals()['remaining_restaurants']) > 0):
        phone = globals()['remaining_restaurants'].iloc[index]['phone']
        postcode = globals()['remaining_restaurants'].iloc[index]['postcode']
        rest = globals()['remaining_restaurants'].iloc[index]
        
        string_no_phone_and_postcode = f"We recommend the restaurant {rest['restaurantname']}. It is a {rest['pricerange']} priced restaurant that serves {rest['food']}. It is located in the {rest['area']} on {rest['addr']}."
        string_no_phone = f"We recommend the restaurant {rest['restaurantname']}. It is a {rest['pricerange']} priced restaurant that serves {rest['food']}. It is located in the {rest['area']} on {rest['addr']} ({rest['postcode']})."
        string_no_postcode = f"We recommend the restaurant {rest['restaurantname']}. It is a {rest['pricerange']} priced restaurant that serves {rest['food']}. It is located in the {rest['area']} on {rest['addr']}. The phonenumber of the restaurant is: {rest['phone']}."
        string_all = f"We recommend the restaurant {rest['restaurantname']}. It is a {rest['pricerange']} priced restaurant that serves {rest['food']}. It is located in the {rest['area']} on {rest['addr']} ({rest['postcode']}). The phonenumber of the restaurant is: {rest['phone']}."

        if(pd.isna(phone)) and  (pd.isna(postcode)):
            return string_no_phone_and_postcode
        elif(pd.isna(phone)):
            return string_no_phone
        elif(pd.isna(postcode)):
            return string_no_postcode
        else:
            return string_all
    return ' '

In [11]:
print(toString_recommended_restaurant(index))

We recommend the restaurant the oak bistro. It is a moderate priced restaurant that serves british. It is located in the centre on 6 lensfield road. The phonenumber of the restaurant is: 01223 323361.

In [12]:
globals()['remaining_restaurants'].drop(index,axis=0,inplace=True)
index = np.random.choice(len(globals()['remaining_restaurants'].index))
print(toString_recommended_restaurant(index))
if(len(globals()['remaining_restaurants'])>=1):
    globals()['remaining_restaurants'].drop(index,axis=0,inplace=True)

We recommend the restaurant cotto. It is a moderate priced restaurant that serves british. It is located in the centre on 183 east road city centre (c.b 1). The phonenumber of the restaurant is: 01223 302010.